<!-- <div>

  <button (click)="addNode2()">Add 2</button>


  <button (click)="save()">save</button>

</div> -->
<!-- {{wss.tree.areas[0] }} -->

<div class="container-fluid mt-3 mb-3 h-100" >
  <div class="row h-100">

    <div class="col-4">
      <div *ngFor="let a of wss?.tree?.areas ; trackBy:identify">

        <div class="card" >
          <div class="card-header">
            Map
          </div>
          <div class="card-body p-3">
            
            <div 
              class="card mb-4" *ngFor="let ag of a.agents ; trackBy:identify"
              (click)="setSelection(ag)"
            >
              
              <div class="card-header d-flex align-items-center">
                
                <span class="text-primary">
                  <i class="fa-duotone fa-solid fa-user-secret fa-lg"></i>
                  &nbsp;&nbsp;
                  #{{ag.id}} 
                  - {{ag.type}}
                </span>

                <button class="btn btn-link ms-auto" >
                </button>
              </div>
              <div class="card-header d-flex align-items-center text-muted">
                <small>{{ag.timestamp}}</small>
              </div>

            
              <app-ruler>

              </app-ruler>
            </div>

          </div>
        </div> 
      </div>
    </div>

    <div class="col-4 h-100">
      <app-inspector class="d-flex h-100 w-100">
      </app-inspector>
    </div>

    <div class="col-4">
      <div *ngFor="let a of wss?.tree?.areas">
        <div class="card mb-4" *ngFor="let cb of a.codeblocks">
          <div class="card-header d-flex align-items-center">
          Codeblock {{cb.name}}
          <span class="ms-auto"></span>
          </div>
          <div class="card-body p-2">
            <!-- {{ag.data | json}} -->
            {{cb.outputs | json}}
          </div>
        </div>
      </div>

    </div>

    
    
  </div>
</div>

